.h2 {
    text-align: start;
    font-size: 3em;
    font-weight: 700;
    color: black;
    margin-bottom: 0.8em;
}

.p {
    text-align: start;
    font-size: 1.3em;
    font-weight: 600;
    color: black;

}